<script id="aboutus-template" type="text/x-handlebars-template">
	{% raw %}
	<div class="col-12">
		<p class="text-center m-0 px-2 px-md-4 text-light mb-4 shout-message">
			{{shoutmessage}}
		</p>
		<p class="text-center mx-0 mt-0 px-2 px-md-4 text-light lead" style="margin-bottom: -40px;">
			{{{whatisthis}}}
			<a href="https://twitter.com/ncovindia" target="_blank">
				<i class="fab fa-twitter" style="color: #00acee;"></i>
			</a>
		</p>
		<p class="text-center mx-0 mt-2 mb-0">
			<iframe src="worldmap/mapmap.html" frameborder="0" onload="resizeIFrameToFitContent(this, 20);" id="worldmap-iframe"></iframe>
		</p>
		
		<p class="text-center text-light mb-4">
			<small>
				{{{disclaimer}}}
			</small>
		</p>
	</div>

	<div class="col-12">
		<div class="row" id="ticker-container">
		</div>
	</div>
	{% endraw %}
</script>

<script id="ticker-template" type="text/x-handlebars-template">
	{% raw %}
	
	<div class="col-12 col-sm-5 offset-sm-1 col-md-4 offset-md-2 mb-3 mb-sm-0">
		<div class="card border-danger" id="ticker-india">
			<div class="card-header">
				{{translations.india}} {{translations.cases}} <sup><a href="https://www.mohfw.gov.in/">{{translations.source}}</a></sup>
			</div>
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col col-ticker yesterday">
						<div class="ticker-number cases">
							{{tickerData.india.cases.yesterday}}
						</div>
						<div class="ticker-day">
							{{translations.yesterday}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.india.deaths.yesterday}}
						</div>
					</div>
					<div class="col-5 col-ticker today">
						<div class="ticker-number cases">
							{{tickerData.india.cases.today}}
							{{setVar "value" tickerData.india.cases.percentageIncrease}}
							<small class="ticker-percentage-increase" style="color: {{tickerPercentageColor value}};">
								<span class="arrow">{{{tickerPercentageArrow value}}}</span>
								{{value}}%
							</small>
						</div>
						<div class="ticker-day">
							{{translations.today}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.india.deaths.today}}
							{{setVar "value" tickerData.india.deaths.percentageIncrease}}
							<small class="ticker-percentage-increase" style="color: {{tickerPercentageColor value}};">
								<span class="arrow">{{{tickerPercentageArrow value}}}</span>
								{{value}}%
							</small>
						</div>
					</div>
					<div class="col col-ticker unverified">
						<div class="ticker-number cases">
							{{tickerData.india.cases.unverified}}
						</div>
						<div class="ticker-day">
							{{translations.unverified}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.india.deaths.unverified}}
						</div>
					</div>
				</div>
			</div>
			<div class="card-header">
				{{translations.india}} {{translations.deaths}}
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-5 col-md-4">
		<div class="card border-danger" id="ticker-world">
			<div class="card-header">
				{{translations.world}} {{translations.cases}} <sup><a href="https://coronavirus.jhu.edu/">{{translations.source}}</a></sup>
			</div>
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col col-ticker yesterday">
						<div class="ticker-number cases">
							{{tickerData.world.cases.yesterday}}
						</div>
						<div class="ticker-day">
							{{translations.yesterday}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.world.deaths.yesterday}}
						</div>
					</div>
					<div class="col-5 col-ticker today">
						<div class="ticker-number cases">
							{{tickerData.world.cases.today}}
							{{setVar "value" tickerData.world.cases.percentageIncrease}}
							<!-- <small class="ticker-percentage-increase" style="color: {{tickerPercentageColor value}};">
								<span class="arrow">{{{tickerPercentageArrow value}}}</span>
								{{value}}%
							</small> -->
						</div>
						<div class="ticker-day">
							{{translations.today}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.world.deaths.today}}
							{{setVar "value" tickerData.world.deaths.percentageIncrease}}
							<!-- <small class="ticker-percentage-increase" style="color: {{tickerPercentageColor value}};">
								<span class="arrow">{{{tickerPercentageArrow value}}}</span>
								{{value}}%
							</small> -->
						</div>
					</div>
					<div class="col col-ticker unverified">
						<div class="ticker-number cases">
							{{tickerData.world.cases.unverified}}
						</div>
						<div class="ticker-day">
							{{translations.unverified}}
						</div>
						<div class="ticker-number deaths">
							{{tickerData.world.deaths.unverified}}
						</div>
					</div>
				</div>
			</div>
			<div class="card-header">
				{{translations.world}} {{translations.deaths}}
			</div>
		</div>
	</div>

	{% endraw %}
</script>

<section class="row index-section about-us">

</section>