<!-- Primary Meta Tags -->
<meta name="description" content="Latest numbers, common questions, and detailed graphs about COVID-19. We are translating into more and more Indian languages! This is an effort to fight misinformation surrounding COVID-19.">
<meta name="keywords" content="COVID-19, coronavirus, knowledgebase, frequently asked questions, common questions, advice, graphs, regional languages">
<meta name="robots" content="index, follow">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ncovindia.com/">
<meta property="og:title" content="Novel Coronavirus Knowledgebase">
<meta property="og:description" content="Latest numbers, common questions, and detailed graphs about COVID-19. We are translating into more and more Indian languages! This is an effort to fight misinformation surrounding COVID-19.">
<meta property="og:image" content="https://ncovindia.com/assets/img/favicon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://ncovindia.com/">
<meta property="twitter:title" content="Novel Coronavirus Knowledgebase">
<meta property="twitter:description" content="Latest numbers, common questions, and detailed graphs about COVID-19. We are translating into more and more Indian languages! This is an effort to fight misinformation surrounding COVID-19.">
<meta property="twitter:image" content="https://ncovindia.com/assets/img/favicon.png">