You should:
<ul>
	<li>Stay home when you are sick.</li>
	<li>Wash your hands often with soap and water for at least 20 seconds, especially before you eat.</li>
	<li>Cover your cough and sneezes with a tissue and discard in a closed container.</li>
	<li>Clean frequently touched surfaces and objects.</li>
	<li>Avoid close contact with people who are sick. Keep a distance of at least 6 feet to help slow the spread of COVID-19.</li>
	<li>Avoid unnecessary travel.</li>
</ul>

Keep informed and follow the advice of the local authorities, including any restrictions put in place on travel and gatherings. See <a href="https://www.mohfw.gov.in" target="_blank">https://www.mohfw.gov.in</a>.