<p>Fever, a dry cough, fatigue, and difficulty breathing or shortness of breath. Sneezing is usually relatively mild/rare.</p>
<p>The symptoms take 2-14 days to show up.</p>
<p>These symptoms are usually mild. Some don't develop any symptoms; about 80% recover from the disease without needing treatment.</p>
<p>Around 1 in 6 become seriously ill and develop difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart problems, or diabetes, are more susceptible.</p>