Fever, a dry cough, fatigue and difficulty breathing or shortness of breath.
<br>
The symptoms take 2-14 days to show up.

<div class="table-responsive" id="symptoms-table-container">
	<table class="table mt-4 table-striped table-bordered table-sm">
	    <thead>
	        <tr>
	            <th>Symptom</th>
	            <th>COVID-19</th>
	            <th>Common Cold</th>
	            <th>Flu</th>
	            <th>Allergies</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Sneezing</td>
	            <td>No</td>
	            <td>Common</td>
	            <td>No</td>
	            <td>Common</td>
	        </tr>
	        <tr>
	            <td>Runny nose</td>
	            <td>Rare</td>
	            <td>Common</td>
	            <td>Sometimes</td>
	            <td>Common</td>
	        </tr>
	        <tr>
	            <td>Fever</td>
	            <td>Common</td>
	            <td>Rare</td>
	            <td>Common</td>
	            <td>Sometimes</td>
	        </tr>
	        <tr>
	            <td>Dry Cough</td>
	            <td>Common</td>
	            <td>Mild</td>
	            <td>Common</td>
	            <td>Sometimes</td>
	        </tr>
	        <tr>
	            <td>Shortness of breath</td>
	            <td>Common</td>
	            <td>No</td>
	            <td>No</td>
	            <td>Common</td>
	        </tr>
	        <tr>
	            <td>Headaches</td>
	            <td>Sometimes</td>
	            <td>Rare</td>
	            <td>Common</td>
	            <td>Sometimes</td>
	        </tr>
	        <tr>
	            <td>Aches and pains</td>
	            <td>Sometimes</td>
	            <td>Common </td>
	            <td>Common</td>
	            <td>No</td>
	        </tr>
	        <tr>
	            <td>Sore throat</td>
	            <td>Sometimes</td>
	            <td>Common</td>
	            <td>Common</td>
	            <td>No</td>
	        </tr>
	        <tr>
	            <td>Fatigue</td>
	            <td>Sometimes</td>
	            <td>Sometimes</td>
	            <td>Common</td>
	            <td>Sometimes</td>
	        </tr>
	        <tr>
	            <td>Diarrhea</td>
	            <td>Rare</td>
	            <td>No</td>
	            <td>Sometimes</td>
	            <td>No</td>
	        </tr>
	    </tbody>
	</table>
</div>

These symptoms are usually mild and begin gradually. Some people become infected but don’t develop any symptoms and don't feel unwell. Most people (about 80%) recover from the disease without needing special treatment.
<br>
Around 1 out of every 6 people who gets COVID-19 become seriously ill and develop difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart problems, or diabetes, are more likely to develop serious illness.
